.createButtonContainer {
  background-color: white;
  border-top: 3px solid black;
  border-right: 3px solid black;
  padding-top: 25px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 25px;
  border-top-right-radius: 100px;
  position: fixed;
  bottom: 0px;
  left: 0px;
}

.md-48 {
  color: black;
  font-size: 48px; 
}

.selected {
  background-color: rgba(249, 51, 24, 1);
}

.selected .md-48 {
  color: white;
}
