.cardsContainer {
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.moreButton {
  position: absolute;
  background-color: white;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-left: 3px solid black;
  border-top: 3px solid black;
  border-top-left-radius: 100px;
  bottom: 0px;
  right: 0px;
}

.moreButton:hover {
  cursor: pointer;
}

.md-48 {
  color: black;
  font-size: 48px; 
}